
<!-- <h1 class="heading">iKick</h1> -->
<div class="main">


<mat-list class="lists ">
        
    <div class="icons">
        <img src="../../../assets/home.png" alt="">
        <mat-list-item >Home</mat-list-item>
    </div>

    <div class="icons">
        <img src="../../../assets/arcticons_synology-active-insight.png" alt="">
        <mat-list-item>Insight</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/pepicons-pencil_hammer-sledge.png" alt="">
        <mat-list-item>My Bid</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/ant-design_message-outlined.png" alt="">
        <mat-list-item>Message</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/mdi_bell-notification-outline.png" alt="">
        <mat-list-item>Notification</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/material-symbols_bookmark-outline.png" alt="">
        <mat-list-item>Save</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/basil_add-outline.png" alt="">
        <mat-list-item>Create</mat-list-item>
    </div>
    
    <div class="icons">
        <img src="../../../assets/user (1).png" alt="">
        <mat-list-item>Profile</mat-list-item>
    </div>
</mat-list>

</div>
<!-- <ul>
    <li><img src="../../../assets/home.png" alt="">Home</li>
    <li><img src="../../../assets/arcticons_synology-active-insight.png" alt="">Insight</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul> -->