<!-- <div class="rightHeading"><h2 class="heading2">Categories</h2><p class="para">See All ></p></div> -->
<div class="main">
    <div class="logo">
        <span class="features imgs"><img src="../../../assets/star 2.png" alt=""></span><br>
            <span class="text">Featured</span>
    </div>
    <div class="logo">
        <span class="features imgs"><img src="../../../assets/dance (1) 1.png" alt=""></span><br>
            <span class="text">Dancer</span>
    </div>
    <div class="logo">
        <span class="features imgs"><img src="../../../assets/microphone (1) 1.png" alt=""></span><br>
            <span class="text">Musician</span>
    </div>
    <div class="logo">
        <span class="features imgs"><img src="../../../assets/video 1.png" alt=""></span><br>
            <span class="text">Movie Star</span>
    </div>
    <div class="logo">
        <span class="features imgs"><img src="../../../assets/tv (1) 1.png" alt=""></span><br>
            <span class="text">TV Star</span>
    </div>
    
</div>
   
<div class="div2">
    <h2 class="heading2">Featured Celebrities</h2>
    <p class="para">see all ></p>
</div>
<div class="div3">
    <span class="img2"><img src="../../../assets/Ellipse 908.png" alt="">Shahid Kapoor</span>
    <span class="img2"><img src="../../../assets/Ellipse 908.png" alt=""> Shahrukh Khan</span>
</div>
