<!-- <app-RightPanelComponent></app-RightPanelComponent>
<app-MiddleComponent></app-MiddleComponent> -->

<!-- <div class="container">
  <app-sidebar></app-sidebar>
  <app-middle></app-middle>
  <app-right-panel></app-right-panel>
</div> -->

<router-outlet></router-outlet>
<div class="container">


  <table mat-table [dataSource]="dataSource">
    
    <!-- Define your columns -->
    <ng-container matColumnDef="column1">
      <th mat-header-cell *matHeaderCellDef>
        <h1 class="heading">iKick</h1>
      </th>
      <td mat-cell *matCellDef="let element"><app-sidebar></app-sidebar> </td>
    </ng-container>

  <ng-container matColumnDef="column2">
    <th mat-header-cell *matHeaderCellDef>

      <div class="searchbox">
        <form class="example-form">
            
          <input type="text" id="searchBar" placeholder="Search here" />
          
        </form>

      </div> 
      <!-- <i class="fa-solid fa-magnifying-glass"></i>-->
      
    </th>
    <td mat-cell *matCellDef="let element"><app-middle></app-middle></td>
  </ng-container>

  <ng-container matColumnDef="column3">
    <th mat-header-cell *matHeaderCellDef>
      <div class="rightHeading"><h2 class="heading2">Categories</h2><p class="para">See All ></p></div></th>
    <td mat-cell *matCellDef="let element"><app-right-panel></app-right-panel></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </div>

  <div class="mob" ><app-mobile></app-mobile></div>